
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
<h3>@ViewBag.Message</h3>

<form method="post" action="Import" enctype="multipart/form-data">
    <div>
        <input name="file" type="file" accept=".xlsx,.xls" />
    </div>

    <br />

    <div>
        <button type="submit" class="btn btn-primary">匯入</button>
    </div>
</form>

