@model DemoMoney.Models.Models.UsersTableModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>MemberCentre</h2>
@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}

<div class="login-box">
    <h2>變更密碼</h2>

    <form>
        <div class="user-box">
            <label class="currentpassword" for="CurrentPasswordID">目前密碼</label>
            <input class="currentpassword" id="CurrentPasswordID" name="CurrentPasswordNAME" type="text" required="required" pattern="^(?=.*[a-zA-Z])(?=.*[0-9]).{6,}$">
            <label class="currentpassword" id="messageCurrent"></label>
        </div>
        <div class="user-box">
            <label class="Newpassword" for="NewpasswordID">新密碼</label>
            <input class="Newpassword" id="NewpasswordID" name="NewpasswordNAME" type="text">
            <label class="Newpassword" id="messageNew"></label>
        </div>
        <div class="user-box">
            <label class="RepeatNewPassword" for="RepeatNewPasswordID">確認新密碼</label>
            <input class="RepeatNewPassword" id="RepeatNewPasswordID" name="RepeatNewPasswordNAME" type="text">
            <label class="RepeatNewPassword" id="messageRepeatNew">目前密碼</label>
        </div>
        <div>
            <label>新密碼須符合資格：</label>
            <div>
                <span id="rule_1">1. 6-16字英文組成</span>
            </div>
            <div>
                <span id="rule_2">2. 至少包含1個大寫英文與小寫英文</span>
            </div>
            <div>
                <span id="rule_3">3. 至少包含1個數字</span>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="變更密碼" class="btn btn-default" id="btnpsw" />
        </div>
    </form>
</div>

<script src="~/Scripts/js-ChangePasseord.js"></script>