@model DemoMoney.Models.Models.UsersTableModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>MemberCentre</h2>
@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}

<div class="login-box">
    <h2>變更密碼</h2>

    <form>
        <div class="user-box">
            <label class="currentpassword" for="CurrentPasswordID">目前密碼</label>
            <input class="currentpassword" id="CurrentPasswordID" name="CurrentPasswordNAME" type="text">
        </div>
        <div class="user-box">
            <label class="Newpassword" for="NewpasswordID">新密碼</label>
            <input class="Newpassword" id="NewpasswordID" name="NewpasswordNAME" type="text">
        </div>
        <div class="user-box">
            <label class="RepeatNewPassword" for="RepeatNewPasswordID">確認新密碼</label>
            <input class="RepeatNewPassword" id="RepeatNewPasswordID" name="RepeatNewPasswordNAME" type="text">
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="變更密碼" class="btn btn-default" id="btnpsw" />
        </div>
    </form>
</div>

<script src="~/Scripts/js-ChangePasseord.js"></script>