@{
    ViewBag.Title = "管理員資訊";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    有問題請寄信~<br />
    我沒有電話不要打給我<br />
    <abbr title="Phone">P:</abbr>
    0900000000
</address>

<address>
    <strong>管理員</strong>   <a href="mailto:Ryan.Chen8632@yahoo.com.tw">Ryan.Chen8632@yahoo.com.tw</a><br />
</address>